<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/bootstrap-4.3.1-dist/css/bootstrap.min.css">
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">NTU</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Trang chủ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Giới thiệu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Liên hệ</a>
      </li>
    </ul>
  </div>
</nav>

<div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/Images/ntu2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/Images/ntu2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/Images/ntu3.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
  </div>
  
  <div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top" src="Images/avatar.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Trần Hoàng Trọng</h5>
          <p class="card-text">Lớp: 63.CNTT-CLC1</p>
          <p class="card-text">Khoa: CNTT</p>
          <p class="card-text">Trường: Đại học Nha Trang (NTU)</p>
        </div>
      </div>
    </div>

  </div>
</div>
  
<h1>Danh sách sinh viên</h1>
    <table border="1">
        <tr>
            <th>Mã sinh viên</th>
            <th>Tên sinh viên</th>
            <th>Điểm tích lũy</th>
        </tr>
        <c:forEach items="${dsSinhViens}" var="sinhVien">
            <tr>
                <td>${sinhVien.maSV}</td>
                <td>${sinhVien.tenSV}</td>
                <td>${sinhVien.diemTichLuy}</td>
            </tr>
        </c:forEach>
    </table>




<script src="/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
<script src="/js/jquery-3.7.1.min.js"></script>
</body>
</html>