<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Employee Management System</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <title>Employee Admin</title>
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" th:href="@{/css/navbar.css}" />
  </head>
  <body>
    <div th:replace="fragments/navbar :: body"></div>
    <div class="container">
      <h1>Add A Task</h1>

      <form
        action="#"
        th:action="@{/saveTask}"
        th:object="${task}"
        method="POST"
      >
        <div class="form-group row">
          <label for="exampleInputUsername2" class="col-sm-3 col-form-label"
            >Task Name</label
          >
          <div class="col-sm-9">
            <input
              type="text"
              th:field="*{taskName}"
              placeholder="Task Name"
              class="form-control mb-4 col-4"
            />
          </div>
        </div>

        <div class="form-group row">
          <label for="exampleInputUsername2" class="col-sm-3 col-form-label"
            >Description</label
          >
          <div class="col-sm-9">
            <input
              type="text"
              th:field="*{description}"
              placeholder="Description"
              class="form-control mb-4 col-4"
            />
          </div>
        </div>

        <div class="form-group row">
          <label for="exampleInputUsername2" class="col-sm-3 col-form-label"
            >Start Date</label
          >
          <div class="col-sm-9">
            <input
              placeholder="Start Date"
              class="textbox-n form-control mb-4 col-4"
              type="text"
              onfocus="(this.type='date')"
              onblur="(this.type='text')"
              th:field="*{startDate}"
            />
          </div>
        </div>

        <div class="form-group row">
          <label for="exampleInputUsername2" class="col-sm-3 col-form-label"
            >End Date</label
          >
          <div class="col-sm-9">
            <input
              placeholder="End Date"
              class="textbox-n form-control mb-4 col-4"
              type="text"
              onfocus="(this.type='date')"
              onblur="(this.type='text')"
              th:field="*{endDate}"
            />
          </div>
        </div>

        <div class="form-group row">
          <label for="exampleInputUsername2" class="col-sm-3 col-form-label"
            >Status</label
          >
          <div class="col-sm-9">
            <select id="status" th:field="*{status.id}" class="form-control">
              <option
                th:each="status : ${listStatuses}"
                th:value="${status.id}"
                th:text="${status.name}"
              ></option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="exampleInputUsername2" class="col-sm-3 col-form-label"
            >Assigned To:</label
          >
          <div class="col-sm-9">
            <select
              id="assignedTo"
              th:field="*{assignedTo.id}"
              class="form-control"
            >
              <option
                th:each="employee : ${listEmployees}"
                th:value="${employee.id}"
                th:text="${employee.firstName} + ' ' + ${employee.lastName}"
              ></option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="exampleInputUsername2" class="col-sm-3 col-form-label"
            >Assigned By:</label
          >
          <div class="col-sm-9">
            <select
              id="assignedBy"
              th:field="*{assignedBy.id}"
              class="form-control"
            >
              <option
                th:each="employee : ${listEmployees}"
                th:value="${employee.id}"
                th:text="${employee.firstName} + ' ' + ${employee.lastName}"
              ></option>
            </select>
          </div>
        </div>

        <button type="submit" class="btn btn-primary me-2">Submit</button>
        <a th:href="@{/task}" class="btn btn-light"> Cancel </a>
      </form>

      <hr />
    </div>
    <div th:replace="fragments/footer :: footer"></div>
    <script th:src="@{/js/script.js}"></script>
  </body>
</html>
