<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Employee Management System</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <h1>Employee Management System</h1>
      <hr />
      <h2>Save Employee</h2>

      <form
        action="#"
        th:action="@{/saveEmployee}"
        th:object="${employee}"
        method="POST"
      >
        <input
          type="text"
          th:field="*{firstName}"
          placeholder="Employee First Name"
          class="form-control mb-4 col-4"
        />

        <input
          type="text"
          th:field="*{lastName}"
          placeholder="Employee Last Name"
          class="form-control mb-4 col-4"
        />

        <input
          type="email"
          th:field="*{email}"
          placeholder="Employee Email"
          class="form-control mb-4 col-4"
        />

        <input
          type="text"
          th:field="*{phoneNumber}"
          placeholder="Phone Number"
          class="form-control mb-4 col-4"
        />

        <input
          placeholder="Birthdate"
          class="textbox-n form-control mb-4 col-4"
          type="text"
          onfocus="(this.type='date')"
          onblur="(this.type='text')"
          th:field="*{dateOfBirth}"
        />

        <input
          placeholder="Hiredate"
          class="textbox-n form-control mb-4 col-4"
          type="text"
          onfocus="(this.type='date')"
          onblur="(this.type='text')"
          th:field="*{hireDate}"
        />

        <input
          type="text"
          th:field="*{jobTitle}"
          placeholder="Job Title"
          class="form-control mb-4 col-4"
        />
        <!-- Assuming you have a list of departments, you can use a select dropdown for department selection -->
        <!-- <select th:field="*{department.id}" class="form-control mb-4 col-4">
          <option
            th:each="dept : ${departments}"
            th:value="${dept.id}"
            th:text="${dept.departmentName}"
          ></option>
        </select> -->
        <button type="submit" class="btn btn-info col-2">Save Employee</button>
      </form>

      <hr />

      <a th:href="@{/}"> Back to Employee List</a>
    </div>
  </body>
</html>
