<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <title>Employee Admin</title>
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" th:href="@{/css/navbar.css}" />
  </head>

  <body>
    <div th:replace="fragments/navbar :: body"></div>
    <div class="container-scroller d-flex">
      <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h1>Add Employee Form</h1>
                    <form
                      action="#"
                      th:action="@{/saveEmployee}"
                      th:object="${employee}"
                      method="POST"
                      class="forms-sample"
                    >
                      <div class="form-group row">
                        <label
                          for="exampleInputUsername2"
                          class="col-sm-3 col-form-label"
                          >First name</label
                        >
                        <div class="col-sm-9">
                          <input
                            type="text"
                            th:field="*{firstName}"
                            placeholder="Employee First Name"
                            class="form-control mb-4 col-4"
                          />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label
                          for="exampleInputEmail2"
                          class="col-sm-3 col-form-label"
                          >Last name</label
                        >
                        <div class="col-sm-9">
                          <input
                            type="text"
                            th:field="*{lastName}"
                            placeholder="Employee Last Name"
                            class="form-control mb-4 col-4"
                          />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label
                          for="exampleInputMobile"
                          class="col-sm-3 col-form-label"
                          >Email</label
                        >
                        <div class="col-sm-9">
                          <input
                            type="email"
                            th:field="*{email}"
                            placeholder="Employee Email"
                            class="form-control mb-4 col-4"
                          />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label
                          for="exampleInputPassword2"
                          class="col-sm-3 col-form-label"
                          >Contact number</label
                        >
                        <div class="col-sm-9">
                          <input
                            type="text"
                            th:field="*{phoneNumber}"
                            placeholder="Phone Number"
                            class="form-control mb-4 col-4"
                          />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label
                          for="exampleInputConfirmPassword2"
                          class="col-sm-3 col-form-label"
                          >Birthdate</label
                        >
                        <div class="col-sm-9">
                          <input
                            placeholder="Birthdate"
                            class="textbox-n form-control mb-4 col-4"
                            type="text"
                            onfocus="(this.type='date')"
                            onblur="(this.type='text')"
                            th:field="*{dateOfBirth}"
                          />
                        </div>
                      </div>

                      <div class="form-group row">
                        <label
                          for="exampleInputConfirmPassword2"
                          class="col-sm-3 col-form-label"
                          >Hiredate</label
                        >
                        <div class="col-sm-9">
                          <input
                            placeholder="Hiredate"
                            class="textbox-n form-control mb-4 col-4"
                            type="text"
                            onfocus="(this.type='date')"
                            onblur="(this.type='text')"
                            th:field="*{hireDate}"
                          />
                        </div>

                        <div class="form-group row">
                          <label
                            for="exampleInputConfirmPassword2"
                            class="col-sm-3 col-form-label"
                            >Role</label
                          >
                          <div class="col-sm-9">
                            <select
                              placeholder="Role"
                              th:field="*{employeeRole.id}"
                              class="form-control mb-4 col-4"
                            >
                              <option
                                th:each="employeeRole : ${listEmployeeRoles}"
                                th:value="${employeeRole.id}"
                              >
                                <span th:text="${employeeRole.roleName}"></span>
                              </option>
                            </select>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label
                            for="exampleInputConfirmPassword2"
                            class="col-sm-3 col-form-label"
                            >Department</label
                          >
                          <div class="col-sm-9">
                            <select
                              placeholder="Department"
                              th:field="*{department.id}"
                              class="form-control mb-4 col-4"
                            >
                              <option
                                th:each="department : ${listDepartments}"
                                th:value="${department.id}"
                              >
                                <span
                                  th:text="${department.departmentName}"
                                ></span>
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div
                        class="form-check form-check-flat form-check-primary"
                      ></div>
                      <button type="submit" class="btn btn-primary me-2">
                        Submit
                      </button>
                      <a th:href="@{/}" class="btn btn-light"> Cancel </a>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="card">
              <div class="card-body">
                <div
                  class="d-sm-flex justify-content-center justify-content-sm-between py-2"
                >
                  <span
                    class="text-muted text-center text-sm-left d-block d-sm-inline-block"
                    >Copyright © <a target="_blank">Toffu </a>2024</span
                  >
                  <span
                    class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"
                  >
                    <a href="https://www.bootstrapdash.com/" target="_blank">
                      Bootstrap dashboard
                    </a>
                    templates</span
                  >
                </div>
              </div>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <script th:src="@{/js/script.js}"></script>
  </body>
</html>
