<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <title>Employee Admin</title>
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" th:href="@{/css/navbar.css}" />
  </head>

  <body>
    <div th:replace="fragments/navbar :: body"></div>

    <div class="container-scroller d-flex">
      <!-- partial:../../partials/_sidebar.html -->

      <!-- partial -->
      <div class="container-fluid">
        <!-- partial:../../partials/_navbar.html -->
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h1>TASK LIST</h1>
                    <p class="card-description">
                      <a
                        th:href="@{/showNewTaskForm}"
                        class="btn btn-primary btn-sm mb-3"
                        >Add Task</a
                      >
                    </p>

                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>
                              <a
                                th:href="@{'/page2/' + ${currentPage} + '?sortField=taskId&sortDir=' + ${reverseSortDir}}"
                                >Task ID</a
                              >
                            </th>
                            <th>
                              <a
                                th:href="@{'/page2/' + ${currentPage} + '?sortField=taskName&sortDir=' + ${reverseSortDir}}"
                                >Task Name</a
                              >
                            </th>
                            <th>
                              <a
                                th:href="@{'/page2/' + ${currentPage} + '?sortField=description&sortDir=' + ${reverseSortDir}}"
                                >Description</a
                              >
                            </th>
                            <th>
                              <a
                                th:href="@{'/page2/' + ${currentPage} + '?sortField=startDate&sortDir=' + ${reverseSortDir}}"
                                >Start Date</a
                              >
                            </th>
                            <th>
                              <a
                                th:href="@{'/page2/' + ${currentPage} + '?sortField=endDate&sortDir=' + ${reverseSortDir}}"
                                >End Date</a
                              >
                            </th>
                            <th>
                              <a
                                th:href="@{'/page2/' + ${currentPage} + '?sortField=status&sortDir=' + ${reverseSortDir}}"
                                >Status</a
                              >
                            </th>
                            <th>
                              <a
                                th:href="@{'/page2/' + ${currentPage} + '?sortField=assignedTo&sortDir=' + ${reverseSortDir}}"
                                >Assign To</a
                              >
                            </th>
                            <th>
                              <a
                                th:href="@{'/page2/' + ${currentPage} + '?sortField=assignedBy&sortDir=' + ${reverseSortDir}}"
                                >Assigned By</a
                              >
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr th:each="task : ${listTasks}">
                            <td th:text="${task.taskId}"></td>
                            <td th:text="${task.taskName}"></td>
                            <td th:text="${task.description}"></td>
                            <td th:text="${task.startDate}"></td>
                            <td th:text="${task.endDate}"></td>
                            <td
                              th:text="${task.status.name}"
                              th:classappend="${task.status.name == 'In-progress' ? 'badge badge-info' :
                    task.status.name == 'Done' ? 'badge badge-success' :
                    task.status.name == 'Pending' ? 'badge badge-warning' :
                    task.status.name == 'Testing' ? 'badge badge-primary' :
                    'badge badge-danger'}"
                            ></td>

                            <td
                              th:text="${task.assignedTo.firstName + ' ' + task.assignedTo.lastName}"
                            ></td>
                            <td
                              th:text="${task.assignedBy.firstName + ' ' + task.assignedBy.lastName}"
                            ></td>
                            <!-- Actions -->
                            <td>
                              <a
                                th:href="@{/showFormForUpdateTask/{taskId}(taskId=${task.taskId})}"
                                class="btn btn-primary"
                                >Update</a
                              >
                              <a
                                th:href="@{/deleteTask/{taskId}(taskId=${task.taskId})}"
                                class="btn btn-danger"
                                >Delete</a
                              >
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div th:if="${totalPages > 1}">
            <div class="row col-sm-10">
              <div class="col-sm-2">Total Rows: [[${totalItems}]]</div>

              <div class="col-sm-1">
                <a
                  th:if="${currentPage > 1}"
                  th:href="@{'/page2/' + ${1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
                  >First</a
                >
                <span th:unless="${currentPage > 1}">First</span>
              </div>

              <div class="col-sm-1">
                <a
                  th:if="${currentPage > 1}"
                  th:href="@{'/page2/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
                  >Back</a
                >
                <span th:unless="${currentPage > 1}">Back</span>
              </div>

              <div class="col-sm-1">
                <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                  <a
                    th:if="${currentPage != i}"
                    th:href="@{'/page2/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
                    >[[${i}]]</a
                  >
                  <span th:unless="${currentPage != i}">[[${i}]]</span>
                  &nbsp;&nbsp;
                </span>
              </div>

              <div class="col-sm-1">
                <a
                  th:if="${currentPage < totalPages}"
                  th:href="@{'/page2/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
                  >Next</a
                >
                <span th:unless="${currentPage < totalPages}">Next</span>
              </div>

              <div class="col-sm-1">
                <a
                  th:if="${currentPage < totalPages}"
                  th:href="@{'/page2/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
                  >Last</a
                >
                <span th:unless="${currentPage < totalPages}">Last</span>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <div th:replace="fragments/footer :: footer"></div>
        </div>
      </div>
    </div>
  </body>
</html>
