<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/navbar.css}" />
  </head>
  <body>
    <footer class="footer">
      <div class="card">
        <div class="card-body">
          <div
            class="d-sm-flex justify-content-center justify-content-sm-between py-2"
          >
            <span
              class="text-muted text-center text-sm-left d-block d-sm-inline-block"
              >Copyright © <a target="_blank">Toffu </a>2024</span
            >
            <span
              class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"
            >
              <a href="https://www.bootstrapdash.com/" target="_blank">
                Bootstrap dashboard
              </a>
              templates</span
            >
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
