<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" th:href="@{/navbar.css}" />
  </head>
  <body>
    <nav>
      <div class="logo">
        <img src="assets/Logo64x64.png" alt="logo" />
        <h1>LOGO</h1>
      </div>
      <ul>
        <li>
          <a th:href="@{/}">Employee</a>
        </li>
        <li>
          <a th:href="@{/department}">Deparment</a>
        </li>
        <li>
          <a th:href="@{/logout}">Logout</a>
        </li>
      </ul>
      <div class="hamburger">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>
    </nav>
    <div class="menubar">
      <ul>
        <li>
          <a th:href="@{/}">Employee</a>
        </li>
        <li>
          <a th:href="@{/department}">Deparment</a>
        </li>
        <li>
          <a th:href="@{/logout}">Logout</a>
        </li>
      </ul>
    </div>
  </body>
</html>
